body{
    font-family: 'Poppins', sans-serif;
}
.top-header{
  height: 37em;
  background-image: url("/jack-smith-website/images/header-bg.png");
  background-size: contain;
}
#jack-name{
    color: #EC4C7A;
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin: 5% 5%;
}
.half-width img{
    width: 85%;
    display: inline-block;
    position: relative;
    bottom: 35px
}
.top-header p a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    background-image: linear-gradient(-45deg, #EC4C7A, #dd6587);
    padding: 10px 24px;
    font-weight: bold;
    display: inline-block;
    border-radius: 8%;
}
.header2 p a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    background-image: linear-gradient(-45deg, #EC4C7A, #dd6587);
    padding: 10px 24px;
    font-weight: bold;
    display: inline-block;
    border-radius: 8%;
}
.header2{
    background-image: url(/jack-smith-website/images/biography-bg.png);
    height: 37em;
    background-size: contain;
}
.header2 .half-width img{
    width: 80%;
    display: inline-block;
    position: relative;
    bottom: 60px; 
}
.middle h1{
    position: relative;
    right: 40px;
    top: 20px;
}
.middle{
    background-image: url(/jack-smith-website/images/latest-work-bg.png);
    height: 37em;
    background-repeat: no-repeat;
    background-size: contain;
}
.one-third-width{
    width: 30%;
    float: left;
}
.one-third-width img{
    width: 90%;
    display: block;
    margin-left: 20%;
}
.footer{
    text-align: center;
    background-image: url(/jack-smith-website/images/footer-bg.png);
    background-size: contain;
}
.footer h6{
    margin-top: -10px;
    opacity: 0.8;
}
.footer p{
    opacity: 0.9;
}
.footer-box{
    height: 5.5em;
    width: 29em;
    background-image: linear-gradient(60deg,#EC4C7A, #dd6587);
    background-size: cover;
    color: white;
    border: 5px solid #dd6587;
    border-radius: 10px;
    align-items: center;
    padding-top: 20px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}
.footer-box a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.footer-box p{
    font-size: 12px;
}
.copywrite{
    font-size: 12px;
    opacity: 0.4;
}